.header-main {
    background-color: rgb(0, 30, 60);
    border-radius: 20px;
    box-shadow: 0px 0px 35px 0px rgba(81, 81, 81, 0.75);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.title-name-site{
    color: #fefefe
}
.wrapper-name-site{
    display: flex;
    align-items:center;
    text-decoration: none;
}