.sections-wrapper{
    background-color: rgb(0, 30, 60);
   padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 35px 0px rgba(81, 81, 81, 0.75);
  position: relative;
}