.small__text-form{
    display: inline-block;
    margin-left: auto;
    font-size: 15px;
  }
.gender{
  display: flex;
  padding: 20px;
  padding-top: 0;
  gap: 20px;
}
.form__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-reg{
    min-width: 700px;
}