.movies-filter{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    
    }
    .section-search{
        display: flex;
        justify-content: space-between;
        align-items: top;
        width: 100%;
    }