.header__movie-page {
  position: relative;
  margin: -20px;
  padding: 20px;
  height: 700px;
  width: 100%;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.header__movie-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: -1;
}
.main-section{
  display: flex;
  margin-top: -700px;
  width: 100%;
  position: relative;
  min-height: 600px;
  z-index: 2;
}
.button-back{
  top: -15px;
  left: -15px;
  z-index: 4;
}

.movie{
  &-info{
 display: flex;
 flex-direction: column;
}
&-image{
  margin: 20px;
  border-radius: 20px;
}
&-title{
font-size: 36px;
&__small{
  margin-bottom: 5px;
  font-size: 25px;
}
}

&-text{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 0px;
}
}