.nav{
    display: flex;
    align-items: center;
    gap: 10px;

    &__button {  
        display: flex;
    align-items: center;
    gap: 10px;
}
}

.optional {
    display: flex; 
    align-items: center;
    gap: 20px;
    &__text{
        font-size: large;
        color: white;
    }
}