body {
  margin: 0;
  font-family:  'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

html {
  background-color: rgb(0, 20, 40);
}
a {
  text-decoration: none;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root, .css-1v2lvtn-MuiPaginationItem-root{
  color: white !important
}
.css-qize55-MuiButtonBase-root-MuiFab-root{
  position: absolute !important
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  color: #1976d2 !important
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: #1976d2 !important
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root, .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  color: #1976d2 !important
}
